In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [118]:
df = pd.read_csv("train.csv")

In [119]:
df.drop(['datetime'],axis=1,inplace=True)

In [120]:
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,1,0,0,1,9.84,14.395,81.0,0.0,3,13,16
1,1,0,0,1,9.02,13.635,80.0,0.0,8,32,40
2,1,0,0,1,9.02,13.635,80.0,0.0,5,27,32
3,1,0,0,1,9.84,14.395,75.0,0.0,3,10,13
4,1,0,0,1,9.84,14.395,75.0,0.0,0,1,1

In [121]:
col_names = list(df.columns)

In [122]:
col_dtypes = df.dtypes

In [123]:
col_dtypes

season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity      float64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [124]:
def find_cat(df):
    cat = list()
    for i in df.columns:
        if len(df[i].value_counts())>25:
            cat.append("Numeric")
        else:
            cat.append("Category")
    return cat

In [125]:
cat= find_cat(df)

In [126]:
print(cat)

['Category', 'Category', 'Category', 'Category', 'Numeric', 'Numeric', 'Numeric', 'Numeric', 'Numeric', 'Numeric', 'Numeric']

In [127]:
from scipy.stats import skew

In [128]:
def skewness(df):
    skw = list()
    for i in range(len(cat)):
        if(cat[i]=="Numeric"):
            skw.append(skew(df[col_names[i]]))
     #       plt.hist(df[col_names[i]])
      #      plt.show()
        else : 
            skw.append(0)
    print(skw)

In [129]:
skewness(df)

[0, 0, 0, 0, 0.020756076702198704, -0.07101522856022477, -0.09488525901025034, 0.5624700234925282, 2.6750075707258127, 1.5374580762849535, 1.29362483396535]

In [130]:
for i in range(len(cat)):
    if skw[i]>0.5 : 
        df[col_names[i]] = [x+1.90 for x in df[col_names[i]]]
        df[col_names[i]]= np.log(df[col_names[i]])
    elif skw[i]<-0.5 :
        p=2
        df[col_names[i]]= pow(df[col_names[i]],p)
        stop = 1
        while(stop==1):
            if(skew(df[col_names[i]])<-0.5):
                p=p+1
                df[col_names[i]]= pow(df[col_names[i]],p)
            else:
                stop = 0
    else :
        pass

In [131]:
skewness(df)

[0, 0, 0, 0, 0.020756076702198704, -0.07101522856022477, -0.09488525901025034, -1.2741951973067605, 0.03415040541205945, -0.7355036604137208, -0.7375204522819235]