In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from scipy import stats
from mlxtend.preprocessing import minmax_scaling
import pyttsx3
from pycaret.classification import setup
from pycaret.classification import compare_models

In [2]:
df = pd.read_csv("train.csv")
df.drop(["ID"],axis=1,inplace=True)
for i in ['Gender', 'Region_Code', 'Occupation', 'Channel_Code','Is_Active']:
    le = LabelEncoder()
    le.fit(df[i])
    df[i]= pd.Series(le.transform(df[i]))
X=df.drop(['Is_Lead'],axis=1)
y=df["Is_Lead"]
X.columns

Index(['Gender', 'Age', 'Region_Code', 'Occupation', 'Channel_Code', 'Vintage',
       'Credit_Product', 'Avg_Account_Balance', 'Is_Active'],
      dtype='object')

In [4]:
temp=list()
for i in range(len(df['Credit_Product'])):
    if df['Credit_Product'][i] == 'Yes' :
        temp.append(0)
    elif df['Credit_Product'][i] == 'No':
        temp.append(0)
    else:
        temp.append(np.nan)
df['Credit_Product'] = temp
X['Credit_Product']=df['Credit_Product']

In [5]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
imp_mean = IterativeImputer(random_state=0)
X_iter= imp_mean.fit_transform(X)
X_iter = pd.DataFrame(X_iter)
X_iter.columns = X.columns
X_iter.head()

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active
0,0.0,73.0,18.0,1.0,2.0,43.0,0.0,1045696.0,0.0
1,0.0,30.0,27.0,2.0,0.0,32.0,0.0,581988.0,0.0
2,0.0,56.0,18.0,3.0,2.0,26.0,0.0,1484315.0,1.0
3,1.0,34.0,20.0,2.0,0.0,19.0,0.0,470454.0,0.0
4,0.0,30.0,32.0,2.0,0.0,33.0,0.0,886787.0,0.0

In [6]:
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
over = SMOTE()
under = RandomUnderSampler()
steps = [('o', over), ('u', under)]
pipeline = Pipeline(steps=steps)
X, y = pipeline.fit_resample(X_iter, y)

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.calibration import CalibratedClassifierCV
from sklearn.svm import SVC
from numpy import mean

In [8]:
from lightgbm import LGBMClassifier

In [9]:
model= LGBMClassifier(random_state=5,class_weight='balanced')

In [8]:
#model = SVC(gamma='scale', class_weight='balanced')

In [10]:
calibrated_clf = CalibratedClassifierCV(model, method='isotonic')

In [11]:
calibrated_clf.fit(X, y)

CalibratedClassifierCV(base_estimator=LGBMClassifier(class_weight='balanced',
                                                     random_state=5),
                       method='isotonic')

In [18]:
tdf = pd.read_csv("test.csv")
y = tdf['ID']
tdf.drop(["ID"],axis=1,inplace=True)
for i in ['Gender', 'Region_Code', 'Occupation', 'Channel_Code','Is_Active']:
    le = LabelEncoder()
    le.fit(tdf[i])
    tdf[i]= pd.Series(le.transform(tdf[i]))
tX=tdf
temp=list()
for i in range(len(tdf['Credit_Product'])):
    if tdf['Credit_Product'][i] == 'Yes' :
        temp.append(0)
    elif tdf['Credit_Product'][i] == 'No':
        temp.append(0)
    else:
        temp.append(np.nan)
tdf['Credit_Product'] = temp
tX['Credit_Product']=tdf['Credit_Product']
imp_mean = IterativeImputer(random_state=0)
tX_iter= imp_mean.fit_transform(tX)
tX_iter = pd.DataFrame(tX_iter)
tX_iter.columns = tX.columns
tX_iter.head()

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active
0,1.0,29.0,4.0,1.0,0.0,25.0,0.0,742366.0,0.0
1,1.0,43.0,18.0,1.0,1.0,49.0,0.0,925537.0,0.0
2,1.0,31.0,20.0,2.0,0.0,14.0,0.0,215949.0,0.0
3,1.0,29.0,22.0,1.0,0.0,33.0,0.0,868070.0,0.0
4,0.0,29.0,20.0,1.0,0.0,19.0,0.0,657087.0,0.0

In [19]:
tdf.shape,tX_iter.shape,y.shape

((105312, 9), (105312, 9), (105312,))

In [20]:
v =calibrated_clf.predict_proba(tX_iter)

In [21]:
ls=list()
for i in v:
    ls.append(i[1])
ans=pd.DataFrame()
ans['ID']=y
ans['Is_Lead']=ls
ans.to_csv("lgbsmote.csv",index=False)

In [22]:
out = pd.read_csv("lgbsmote.csv")
out.shape

(105312, 2)